/* Variables */

/* Couleurs */
// Principal
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: hsl(165, 56%, 74%);

// Secondaire
$color-grey-black: #353535;
$color-grey-light: #eaeaea;

// Text
$color-text: #101010;

// Background
$color-background: #ffffff;
$color-background-secondary: #f6f6f6;

// Button
$btn-color-text: #ffffff;
$color-green-text: #008766;
$color-green-background: $color-tertiary;

/* Breakpoints */
$desktop: 992px;
$tablet: 768px;
