.home {
  &-header {
    &-location {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: $color-grey-light;

      &__icon {
        margin-right: 16px;
      }
    }

    &-presentation {
      text-align: center;
      padding: 3rem 2rem;
      margin: 0;
      background-color: $color-background-secondary;



      @include desktop-only {
        &__title {
          font-size: 40px;
        }
      }

      &__paragraph {
        margin: 16px 0;
        font-size: 18px;
        font-weight: 300;
      }
    }
  }

  &-selection,
  &-restaurants {
    padding: 3rem 1.5rem;

    &__title {
      font-size: 24px;
      font-weight: 700;
    }

    &__container {
      @include desktop-container;
    }
  }

  &-selection {
    &-list {
      @include desktop-only {
        display: flex;
        gap: 1.5rem;
      }

      &-item {
        $size: 24px;

        &:hover {
          background-color: #f5edff;
        }

        background-color: $color-background-secondary;
        margin: 24px 0;
        display: flex;
        align-items: center;
        height: 72px;
        width: 100%;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        cursor: pointer;
        position: relative;

        &:hover {
          .icon--color {
            color: $color-primary;
          }
        }

        &__icon {
          $padding: 30px;

          font-size: 20px;
          width: $size;
          display: flex;
          justify-content: center;
          padding: 0 $padding;
          padding-left: calc(($size * 0.5) + $padding);
        }

        &__id {
          position: absolute;
          background-color: $color-primary;
          border-radius: 50%;
          width: $size;
          height: $size;
          display: flex;
          align-items: center;
          justify-content: center;
          left: calc(-#{$size} * 0.5);
          color: $btn-color-text;
          font-size: 14.25px;
        }

        &__title {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  &-restaurants {
    background-color: $color-background-secondary;

    &__title {
      font-size: 24px;
      margin-bottom: 1.5rem;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include tablet-only {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }

      @include desktop-only {
        // display: flex;
        // flex-direction: row;
        column-gap: 100px;
        row-gap: 50px;
      }

      &__item {
        @include desktop-only {
          flex: 1;

          .card__picture {
            height: 150px;
          }
        }
      }
    }
  }
}
