.button {
  &__primary {
    display: inline-block;
    color: $btn-color-text;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    min-width: 186px;
    text-align: center;

    background-image: linear-gradient(
      $color-primary -5.2%,
      $color-secondary 110.74%
    );

    transition: filter 250ms, box-shadow 250ms;

    &:hover {
      filter: brightness(115%);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
  }

  &__fav {
    font-size: 20px;

    .fa-heart {
      background: $color-text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 400;

      animation: out 250ms ease-out;

      &:hover {
        cursor: pointer;
        font-weight: 700;
        background: linear-gradient(
          $color-primary -5.2%,
          $color-secondary 110.74%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: in 275ms ease-in;

        transform: scale(1.1);
      }
    }
  }
}
