$size-icon: scale(1.1);

.card {
  border-radius: 15px;
  background-color: $color-background;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;

  &:not(&:not(&--new))::after {
    position: absolute;
    content: 'Nouveau';
    top: 0;
    right: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    color: $color-green-text;
    background-color: $color-green-background;
    font: {
      size: 14px;
      weight: 500;
    }
    margin: 1rem;
    padding: 8px 12px;
    border-radius: 2px;
  }

  &__picture {
    height: 200px;
  }

  &-info {
    margin: 12px;
    position: relative;

    &__icon {
      position: absolute;
      top: 6px;
      right: 12px;
    }

    &__title {
      font: {
        size: 18px;
        weight: 700;
      }
    }

    &__district {
      margin-top: 5px;
      font: {
        size: 17px;
        weight: 300;
      }
    }
  }
}

@keyframes in {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: $size-icon;
  }
}

@keyframes out {
  0% {
    opacity: 1;
    transform: $size-icon;
  }
  100% {
    transform: scale(1);
  }
}
