// Restaurant Card
.card {
  border-radius: 15px;
  background-color: $color-background;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;

  a {
    display: block;
    position: relative;
  }

  .card__new {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    color: $color-green-text;
    background-color: $color-green-background;
    font: {
      size: 14px;
      weight: 500;
    }
    margin: 1rem;
    padding: 8px 12px;
    border-radius: 2px;

    &--disabled {
      display: none;
    }
  }

  &__picture {
    height: 200px;
  }

  &__icon {
    position: absolute;
    right: 18px;
    bottom: 26px;

    z-index: 10;
  }

  &-info {
    padding: 12px;
    position: relative;
    display: block;

    &__title {
      font: {
        size: 18px;
        weight: 700;
      }
    }

    &__district {
      margin-top: 5px;
      font: {
        size: 17px;
        weight: 300;
      }
    }
  }
}
