* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

  color: $color-text;
  transition: color 200ms ease-in-out;

  &:hover:not(.button__primary, .logo, .home-restaurants-list__item) {
    color: $color-tertiary;
  }

  &:active:not(.button__primary, .logo, .home-restaurants-list__item) {
    color: $color-tertiary;
  }
}

address {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
}
