html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $color-text;
  background-color: $color-background;
  position: relative;
}

h1,
h2:not(.home-header h2) {
  font-family: 'Shrikhand', cursive;
  font-weight: 400;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-weight: 700;
}

a {
  transition: color 200ms ease-in-out;

  &:hover:not(.button__primary, .logo, .home-restaurants-list__item) {
    color: $color-tertiary;
  }

  &:active:not(.button__primary, .logo, .home-restaurants-list__item) {
    color: $color-tertiary;
  }
}

.icon {
  color: $color-grey-black;

  &--color {
    color: $color-primary;
  }

  &--white {
    color: $btn-color-text;
  }
}
