// Couleurs
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-text: #101010;
$color-background: #ffffff;
$color-background-secondary: #f6f6f6;

$color-grey-black: #353535;
$color-grey-light: #eaeaea;

$btn-color-text: #ffffff;

$color-green-text: #008766;
$color-green-background: $color-tertiary;

// breakpoints
$desktop: 768px;
